apiVersion: v1
kind: Secret
metadata:
  name: sp-key
type: Opaque
data:
  sp-key.pem: {{ SP_KEY }}
---
apiVersion: v1
kind: Secret
metadata:
  name: idp
type: Opaque
data:
  idp-backchannel.p12: {{ IDP_BACKCHANNEL }}
  idp-browser.p12: {{ IDP_BROWSER }}
  idp-encryption.key: {{ IDP_ENCRYPTION }}
  idp-signing.key: {{ IDP_SIGNING }}
  sealer.jks: {{ IDP_SEALER }}
